@media screen and (max-width:1100px){
    body{
    }
    .section-one-left{
        h2{
            font-size: 64px !important;
        }
        .section-one-rating{
            width: 70% !important;
        }
    }
    .section-five{
        .testimonial{
            width: 250px !important;
        }
    }
    .section-six{
        h2{
            font-size: 62px !important;
        }
    }
}
@media screen and (max-width: 800px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        padding: 0 20px !important;
        .header-navigation{
            display: none;
        }
    }
    .section-one{
        display: flex;
        flex-wrap: wrap !important;

    }
    .section-one-left{
        width: 200% !important;
        box-sizing: border-box;
        .section-one-trust{
            width: 95% !important;
            font-size: 12px !important;
            padding: 1px !important;
        }
        h2{
            font-size: 64px !important;
        }
        p{
            width: 95%;
            line-height: 1.6em;
            font-size: 20px !important;
            margin: auto;
        }
        .section-one-buttons{
            width: 95% !important;
            margin: auto;
            display: flex;
            justify-content: space-around !important;
            button{
                width: 200px !important;
                height: 50px !important;
                margin: 10px 0;
            }
        }
        .section-one-rating{
            width:75% !important;
            position: relative;
            right: 15px;
        }
    }
    .section-one-right{
        display: none !important;
    }
    .section-two{
        .service{
            width: 375px !important;
            text-align: center;
            padding: 20px;
        }
    }
    .section-four{
        .prices{
            display: block !important;
            .plan{
                margin-bottom: 20px;
                padding-left: 150px !important;
                ul{
                    padding: 0;
                    margin: 0;
                }
                button{ 
                    position: relative;
                    right: 65px;
                }
            }
        }
    }
    .section-five{
        .reviews{
            display: grid !important;
            grid-template-rows: 1fr 1fr 1fr !important;
            .testimonial{
                margin-bottom: 20px;
            }
        }
    }
    .footer-container{
        display: block !important;
        .top{
            display: block !important;
        }
    }
    .left-top{
        position: relative;
        left: 35%;
    }
    .section-one-right{
        margin: auto;
    }
    footer{
        .left-top{
            font-size: 28px;
        }
    }
}
@keyframes ease-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body{
    font-family: sans-serif;
    background: rgba(235, 233, 233, 0.498);
}
header{
    z-index: 10;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    padding: 10px;
    height: 9vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(20px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

    .logo{
        display: flex;
        align-items: center;
    }

    .header-navigation{
        font: {
            size: 18px;
        }
        align-content: center;
        .nav-list{
            display: flex;
            justify-content: space-around;
            list-style: none;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

    .login-start{
        font: {
            size: 18px;
        }
        align-items: center;
        display: flex;
        justify-content: flex-end;
        a{
            text-decoration: none;
            border: 1px solid #ca4949;
            padding: 10px;
            width: 45%;
            text-align: center;
            border-radius: 20px;
        }
        .login{
            border: none;
            color: black;
        }
        .start{
            box-shadow: 1px 1px 5px #ca4949;
            color: white;
            background-color: #f45959;

        }
    }
}
main{
    section{
        z-index: 1;
        min-height: 90vh;
        width: 95%;
        margin: auto;
        padding-top: 9vh;
        scroll-snap-align: proximity;
        scroll-snap-stop: always;
        animation-duration: 5s;
        animation-name: ease-in;
        
    }
    
    .section-one{
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: white;
        .section-one-left{
            box-sizing: border-box;
            padding: 5px;
            display: grid;
            grid-template-rows: 10% 60% 40%;
            .section-one-trust{
                background-color: lightblue;
                padding: 3px 15px;
                border-radius: 20px;
                width: 250px;
                height: 40px;
                position: relative;
                top: 50%;
                right: 1%;
                display: flex;
                align-items: center;
            }
            h2{
                font: {
                    size: 84px;
                }
            }
            p{
                font: {
                    size: 22px;
                }
            }
            .section-one-buttons{
                width: 80%;
                height: 70px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    height: 60%;
                    width: 45%;
                    border-radius: 20px;
                    font: {
                        size: 14px;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                    .book{
                        background-color: #f45959;
                        color: white;
                    }
                    .how{
                        background-color: white;
                    }
            }
            .section-one-rating{
                display: flex;
                justify-content: space-between;
                width: 50%;
                margin-left: 6%;
                align-items: center;
            }
        }
        .section-one-right{
            box-sizing: border-box;
            .section-one-right-container{
                height: 100%;
                text-align: center;
                .free p{
                    border-radius: 20px;
                    color: white;
                    background-color: #f45959;
                    align-content: center;
                    height: 50px;
                    width: 150px;
                    position: absolute;
                    top: 14%;
                    right: 10%;
                    z-index: 9;
                }
                img{
                    border-radius: 10px;
                    margin-top: 10%;
                    transform: rotate(5deg);
                    box-shadow: 1px 1px 10px grey;
                }
                .completed-walks{
                    display: flex;
                    align-items: center;
                    width: 200px;
                    border-radius: 35px;
                    box-shadow: 1px 1px 10px grey;
                    background-color: white;
                    position: absolute;
                    bottom: 15%;
                    right: 30%;
                }
            }
        }
    }

    .section-two{
        .section-heading{
            text-align: center;
            margin-bottom: 10px;
            h6{
                color: #ca4949;
                font-size: .9em;
            }
            h3{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .section-two-services{
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .service{
                border: .5px light lightgrey;
                width: 300px;
                height: 200px;
                margin: 10px;
                background-color: white;
                border-radius: 20px;
                &:hover {
                    box-shadow: 1px 1px 50px lightgrey;
                    transition: ease-in-out 600ms;
                }
                h4{
                    font-size: 1.2em;
                }
                p{
                    font-size: 1.1em;
                    line-height: 2em;
                    font-size: .9em;
                }
            }
        }
    }

    .section-three{
        .section-heading{
            text-align: center;
            margin-bottom: 10px;
            h6{
                color: #ca4949;
                font-size: .9em;
            }
            h3{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .sign-up-steps{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 100px 0;
            .step{
                border: .5px solid lightgrey;
                border-radius: 20px;
                height: 200px;
                width: 200px;
                margin: 5px;
                text-align: center;
                align-content: center;
                padding: 20px;
                &:hover {
                    box-shadow: 1px 1px 50px lightgrey;
                    transition: ease-in-out 600ms;
                }
            }
        }
    }

    .section-four{
        #color{
            color: white;
            background-color: #293a6c;
        }
        .section-heading{
            text-align: center;
            margin-bottom: 10px;
            h6{
                color: #ca4949;
                font-size: .9em;
            }
            h3{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .prices{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            .plan{
                box-shadow: 1px 1px 10px grey;
                border-radius: 20px;
                padding: 20px;
                display: grid;
                .plan-heading-container{
                    h4{
                        font-size: 1.5em;
                    }
                }
                .price-font{
                    font-size: 2em;
                }
                .plan-list{
                    list-style: none;
                    line-height: 2em;
                    margin-bottom: 100px;
                }
                .button-container{
                    height: 40px;
                    align-content: center;
                    text-align: center;
                    button{
                        width: 200px;
                        height: 30px;
                        border: 3px solid black;
                        border-radius: 20px;
                    }
                    #switch{
                        border: none;
                        background-color: #f45959;
                        color: white;
                    }
                }
            }
        }
    }
    
    .section-five{
        background-color: #293a6c;
        color: white;
        .section-heading{
            text-align: center;
            margin-bottom: 10px;
            h6{
                color: #ca4949;
                font-size: .9em;
            }
            h3{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .reviews{
            display: flex;
            justify-content: space-around;
            padding: 40px;
            .testimonial{
                border-radius: 20px;
                border: .5px solid grey;
                height: 350px;
                width: 300px;
                display: grid;
                padding: 10px;
                grid-template-rows: 20% 60 20%;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.1);
                .star-container{
                    display: flex;
                }
            }
        }
    }

    .section-six{
        margin-bottom: 20px;
        .section-six-container{
            width: 95%;
            padding: 100px 0;
            margin: auto;
            text-align: center;
            color: white;
            background-color: #f45959;
            border-radius: 20px;
        }
        h2{
            font-size: 84px;
        }
        blockquote{
            .section-sub-heading{
                font-size: 30px;
            }
            button{
                width: 260px;
                height: 40px;
                background-color: white;
                color: #f45959;
                border: none;
                border-radius: 20px;
                box-shadow: 1px 1px 10px black;
                &:hover {
                    cursor: pointer;
                }
            }
            .cancel{
                font-size: .6em;
            }
        }
    }
}

footer{
    padding: 5px;
    background-color: #293a6c;
    color: white;
    .footer-container{
        display: grid;
        grid-template-rows: 85% 15%;
        .top{
                display: grid;
                grid-template-columns: 30% 70%;
                border-bottom: .5px solid lightgrey;
            .top-container-left{
                display: grid;
                grid-template-rows: 60% 40%;
                .left-top, .left-bottom{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
                .left-top{
                    width: 25%;
                }

            }
            .top-container-right{
                display: flex;
                justify-content: space-evenly;
                .list ul{
                    list-style: none;
                }
                h6{
                    font-size:1em;
                }
                li{
                    font-size: .8em;
                    line-height: 1.7em;
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            align-items: center;
        }
    }
}