html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

header {
  z-index: 10;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 10px;
  height: 9vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .logo {
  display: flex;
  align-items: center;
}
header .header-navigation {
  font-size: 18px;
  align-content: center;
}
header .header-navigation .nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header .header-navigation .nav-list a {
  text-decoration: none;
  color: black;
}
header .login-start {
  font-size: 18px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
header .login-start a {
  text-decoration: none;
  border: 1px solid #ca4949;
  padding: 10px;
  width: 45%;
  text-align: center;
  border-radius: 20px;
}
header .login-start .login {
  border: none;
  color: black;
}
header .login-start .start {
  box-shadow: 1px 1px 5px #ca4949;
  color: white;
  background-color: #f45959;
}

main section {
  z-index: 1;
  min-height: 90vh;
  padding-top: 9vh;
  border: 2px solid red;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
main .section-one {
  display: grid;
  grid-template-columns: 50% 50%;
}
main .section-one .section-one-left {
  padding: 10px;
  display: grid;
  grid-template-rows: 10% 60% 10% 10%;
}
main .section-one .section-one-left .section-one-trust {
  background-color: lightblue;
  padding: 3px 15px;
  border-radius: 20px;
  width: 250px;
  height: 40px;
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
}
main .section-one .section-one-left h2 {
  font-size: 84px;
}
main .section-one .section-one-left p {
  font-size: 22px;
}
main .section-one .section-one-left .section-one-buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section-one .section-one-left .section-one-buttons button {
  height: 60%;
  width: 45%;
  border-radius: 20px;
  font-size: 14px;
}
main .section-one .section-one-left .section-one-buttons .book {
  background-color: #f45959;
  color: white;
}
main .section-one .section-one-left .section-one-buttons .how {
  background-color: white;
}
main .section-one .section-one-left .section-one-rating {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 6%;
  align-items: center;
}
main .section-one .section-one-right {
  align-items: center;
  text-align: center;
}
main .section-one .section-one-right .free {
  position: relative;
  left: 475px;
  top: 30px;
  border-radius: 20px;
  color: white;
  background-color: #f45959;
  align-content: center;
  height: 50px;
  width: 150px;
}
main .section-one .section-one-right img {
  border-radius: 20px;
}
main .section-one .section-one-right .completed-walks {
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 35px;
  box-shadow: 1px 1px 10px grey;
  background-color: white;
  position: relative;
  bottom: 40px;
  left: 40px;
}
main .section-two .section-heading {
  border: 1px solid blue;
  text-align: center;
  margin-bottom: 10px;
}
main .section-two .section-heading h6 {
  color: #ca4949;
  font-size: 1.1em;
}
main .section-two .section-heading h3 {
  font-size: 2.5em;
}
main .section-two .section-heading p {
  font-size: 1.5em;
}
main .section-two .section-two-services {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .section-two .section-two-services .service {
  border: 1px solid black;
  width: 360px;
  height: 200px;
  margin: 10px;
}
main .section-two .section-two-services .service h4 {
  font-size: 1.2em;
}
main .section-two .section-two-services .service p {
  font-size: 1.1em;
}
main .section-three .section-heading {
  border: 1px solid blue;
  text-align: center;
  margin-bottom: 10px;
}
main .section-three .section-heading h6 {
  color: #ca4949;
  font-size: 1.1em;
}
main .section-three .section-heading h3 {
  font-size: 2.5em;
}
main .section-three .section-heading p {
  font-size: 1.5em;
}
main .section-three .sign-up-steps {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 100px 0;
}
main .section-three .sign-up-steps .step {
  border: 1px solid blue;
  height: 200px;
  width: 200px;
  margin: 5px;
  text-align: center;
  align-content: center;
}
main .section-four .section-heading {
  border: 1px solid blue;
  text-align: center;
  margin-bottom: 10px;
}
main .section-four .section-heading h6 {
  color: #ca4949;
  font-size: 1.1em;
}
main .section-four .section-heading h3 {
  font-size: 2.5em;
}
main .section-four .section-heading p {
  font-size: 1.5em;
}
main .section-four .prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
main .section-four .prices .plan {
  border: 1px solid blue;
  padding: 20px;
  display: grid;
}
main .section-four .prices .plan .plan-heading-container h4 {
  font-size: 1.5em;
}
main .section-four .prices .plan .price-font {
  font-size: 2em;
}
main .section-four .prices .plan .plan-list {
  list-style: none;
  line-height: 2em;
  margin-bottom: 100px;
}
main .section-four .prices .plan .button-container {
  height: 40px;
  align-content: center;
  text-align: center;
}
main .section-four .prices .plan .button-container button {
  width: 200px;
  height: 30px;
  border: 3px solid black;
}
main .section-four .prices .plan .button-container #switch {
  border: none;
  background-color: #f45959;
  color: white;
}
main .section-five .section-heading {
  border: 1px solid blue;
  text-align: center;
  margin-bottom: 10px;
}
main .section-five .section-heading h6 {
  color: #ca4949;
  font-size: 1.1em;
}
main .section-five .section-heading h3 {
  font-size: 2.5em;
}
main .section-five .section-heading p {
  font-size: 1.5em;
}
main .section-five .reviews {
  border: 2px solid green;
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}
main .section-five .reviews .testimonial {
  border: 1px solid black;
  border-radius: 20px;
  height: 350px;
  width: 300px;
  display: grid;
  padding: 10px;
  grid-template-rows: 20% 60 20%;
  align-items: center;
}
main .section-five .reviews .testimonial .star-container {
  display: flex;
}
main .section-six {
  text-align: center;
  color: white;
  background-color: #f45959;
}
main .section-six h2 {
  font-size: 84px;
}
main .section-six blockquote .section-sub-heading {
  font-size: 30px;
}
main .section-six blockquote button {
  width: 260px;
  height: 40px;
  background-color: white;
  color: #f45959;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
}
main .section-six blockquote button:hover {
  cursor: pointer;
}
main .section-six blockquote .cancel {
  font-size: 0.6em;
}/*# sourceMappingURL=index.css.map */