html{
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
body{
    font-family: sans-serif;
}

header{
    z-index: 10;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 10px;
    height: 9vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(20px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

    .logo{
        display: flex;
        align-items: center;
    }

    .header-navigation{
        font: {
            size: 18px;
        }
        align-content: center;
        .nav-list{
            display: flex;
            justify-content: space-around;
            list-style: none;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

    .login-start{
        font: {
            size: 18px;
        }
        align-items: center;
        display: flex;
        justify-content: flex-end;
        a{
            text-decoration: none;
            border: 1px solid #ca4949;
            padding: 10px;
            width: 45%;
            text-align: center;
            border-radius: 20px;
        }
        .login{
            border: none;
            color: black;
        }
        .start{
            box-shadow: 1px 1px 5px #ca4949;
            color: white;
            background-color: #f45959;

        }
    }
}

main{
    section{
        z-index: 1;
        min-height: 90vh;
        padding-top: 9vh;
        border: 2px solid red;
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }
    
    .section-one{
        display: grid;
        grid-template-columns: 50% 50%;
        .section-one-left{
            padding: 10px;
            display: grid;
            grid-template-rows: 10% 60% 10% 10%;
            .section-one-trust{
                background-color: lightblue;
                padding: 3px 15px;
                border-radius: 20px;
                width: 250px;
                height: 40px;
                position: relative;
                top: 50px;
                display: flex;
                align-items: center;
            }
            h2{
                font: {
                    size: 84px;
                }
            }
            p{
                font: {
                    size: 22px;
                }
            }
            .section-one-buttons{
                width: 80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button{
                    height: 60%;
                    width: 45%;
                    border-radius: 20px;
                    font: {
                        size: 14px;
                    }
                }
                    .book{
                        background-color: #f45959;
                        color: white;
                    }
                    .how{
                        background-color: white;
                    }
            }
            .section-one-rating{
                display: flex;
                justify-content: space-between;
                width: 50%;
                margin-left: 6%;
                align-items: center;
            }
        }
        .section-one-right{
            align-items: center;
            text-align: center;
            .free{
                position: relative;
                left: 475px;
                top: 30px;
                border-radius: 20px;
                color: white;
                background-color: #f45959;
                align-content: center;
                height: 50px;
                width: 150px;
            }
            img{
                border-radius: 20px;
            }
            .completed-walks{
                display: flex;
                align-items: center;
                width: 200px;
                border-radius: 35px;
                box-shadow: 1px 1px 10px grey;
                background-color: white;
                position: relative;
                bottom: 40px;
                left: 40px;
            }
        }
    }

    .section-two{
        .section-heading{
            border: 1px solid blue;
            text-align: center;
            margin-bottom: 10px;
            h6{
                color: #ca4949;
                font-size: 1.1em;
            }
            h3{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .section-two-services{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .service{
                border: 1px solid black;
                width: 360px;
                height: 200px;
                margin: 10px;
                h4{
                    font-size: 1.2em;
                }
                p{
                    font-size: 1.1em;
                }
            }
        }
    }

    .section-three{
        .section-heading{
            border: 1px solid blue;
            text-align: center;
            margin-bottom: 10px;
            h6{
                color: #ca4949;
                font-size: 1.1em;
            }
            h3{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .sign-up-steps{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 100px 0;
            .step{
                border: 1px solid blue;
                height: 200px;
                width: 200px;
                margin: 5px;
                text-align: center;
                align-content: center;
            }
        }
    }

    .section-four{
        .section-heading{
            border: 1px solid blue;
            text-align: center;
            margin-bottom: 10px;
            h6{
                color: #ca4949;
                font-size: 1.1em;
            }
            h3{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .prices{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 20px;
            .plan{
                border: 1px solid blue;
                padding: 20px;
                display: grid;
                .plan-heading-container{
                    h4{
                        font-size: 1.5em;
                    }
                }
                .price-font{
                    font-size: 2em;
                }
                .plan-list{
                    list-style: none;
                    line-height: 2em;
                    margin-bottom: 100px;
                }
                .button-container{
                    height: 40px;
                    align-content: center;
                    text-align: center;
                    button{
                        width: 200px;
                        height: 30px;
                        border: 3px solid black;
                    }
                    #switch{
                        border: none;
                        background-color: #f45959;
                        color: white;
                    }
                }
            }
        }
    }
    
    .section-five{
        .section-heading{
            border: 1px solid blue;
            text-align: center;
            margin-bottom: 10px;
            h6{
                color: #ca4949;
                font-size: 1.1em;
            }
            h3{
                font-size: 2.5em;
            }
            p{
                font-size: 1.5em;
            }
        }
        .reviews{
            border: 2px solid green;
            display: flex;
            justify-content: space-evenly;
            padding: 40px;
            .testimonial{
                border: 1px solid black;
                border-radius: 20px;
                height: 350px;
                width: 300px;
                display: grid;
                padding: 10px;
                grid-template-rows: 20% 60 20%;
                align-items: center;
                .star-container{
                    display: flex;
                }
            }
        }
    }

    .section-six{
        text-align: center;
        color: white;
        background-color: #f45959;
        h2{
            font-size: 84px;
        }
        blockquote{
            .section-sub-heading{
                font-size: 30px;
            }
            button{
                width: 260px;
                height: 40px;
                background-color: white;
                color: #f45959;
                border: none;
                border-radius: 20px;
                box-shadow: 1px 1px 10px black;
                &:hover {
                    cursor: pointer;
                }
            }
            .cancel{
                font-size: .6em;
            }
        }
    }
}