@media screen and (max-width: 1100px) {
  .section-one-left h2 {
    font-size: 64px !important;
  }
  .section-one-left .section-one-rating {
    width: 70% !important;
  }
  .section-five .testimonial {
    width: 250px !important;
  }
  .section-six h2 {
    font-size: 62px !important;
  }
}
@media screen and (max-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    padding: 0 20px !important;
  }
  header .header-navigation {
    display: none;
  }
  .section-one {
    display: flex;
    flex-wrap: wrap !important;
  }
  .section-one-left {
    width: 200% !important;
    box-sizing: border-box;
  }
  .section-one-left .section-one-trust {
    width: 95% !important;
    font-size: 12px !important;
    padding: 1px !important;
  }
  .section-one-left h2 {
    font-size: 64px !important;
  }
  .section-one-left p {
    width: 95%;
    line-height: 1.6em;
    font-size: 20px !important;
    margin: auto;
  }
  .section-one-left .section-one-buttons {
    width: 95% !important;
    margin: auto;
    display: flex;
    justify-content: space-around !important;
  }
  .section-one-left .section-one-buttons button {
    width: 200px !important;
    height: 50px !important;
    margin: 10px 0;
  }
  .section-one-left .section-one-rating {
    width: 75% !important;
    position: relative;
    right: 15px;
  }
  .section-one-right {
    display: none !important;
  }
  .section-two .service {
    width: 375px !important;
    text-align: center;
    padding: 20px;
  }
  .section-four .prices {
    display: block !important;
  }
  .section-four .prices .plan {
    margin-bottom: 20px;
    padding-left: 150px !important;
  }
  .section-four .prices .plan ul {
    padding: 0;
    margin: 0;
  }
  .section-four .prices .plan button {
    position: relative;
    right: 65px;
  }
  .section-five .reviews {
    display: grid !important;
    grid-template-rows: 1fr 1fr 1fr !important;
  }
  .section-five .reviews .testimonial {
    margin-bottom: 20px;
  }
  .footer-container {
    display: block !important;
  }
  .footer-container .top {
    display: block !important;
  }
  .left-top {
    position: relative;
    left: 35%;
  }
  .section-one-right {
    margin: auto;
  }
  footer .left-top {
    font-size: 28px;
  }
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: sans-serif;
  background: rgba(235, 233, 233, 0.498);
}

header {
  z-index: 10;
  display: grid;
  grid-template-columns: 20% 50% 30%;
  padding: 10px;
  height: 9vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header .logo {
  display: flex;
  align-items: center;
}
header .header-navigation {
  font-size: 18px;
  align-content: center;
}
header .header-navigation .nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
header .header-navigation .nav-list a {
  text-decoration: none;
  color: black;
}
header .login-start {
  font-size: 18px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
header .login-start a {
  text-decoration: none;
  border: 1px solid #ca4949;
  padding: 10px;
  width: 45%;
  text-align: center;
  border-radius: 20px;
}
header .login-start .login {
  border: none;
  color: black;
}
header .login-start .start {
  box-shadow: 1px 1px 5px #ca4949;
  color: white;
  background-color: #f45959;
}

main section {
  z-index: 1;
  min-height: 90vh;
  width: 95%;
  margin: auto;
  padding-top: 9vh;
  scroll-snap-align: proximity;
  scroll-snap-stop: always;
}
main .section-one {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: white;
}
main .section-one .section-one-left {
  box-sizing: border-box;
  padding: 5px;
  display: grid;
  grid-template-rows: 10% 60% 40%;
}
main .section-one .section-one-left .section-one-trust {
  background-color: lightblue;
  padding: 3px 15px;
  border-radius: 20px;
  width: 250px;
  height: 40px;
  position: relative;
  top: 50%;
  right: 1%;
  display: flex;
  align-items: center;
}
main .section-one .section-one-left h2 {
  font-size: 84px;
}
main .section-one .section-one-left p {
  font-size: 22px;
}
main .section-one .section-one-left .section-one-buttons {
  width: 80%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .section-one .section-one-left .section-one-buttons button {
  height: 60%;
  width: 45%;
  border-radius: 20px;
  font-size: 14px;
}
main .section-one .section-one-left .section-one-buttons button:hover {
  cursor: pointer;
}
main .section-one .section-one-left .section-one-buttons .book {
  background-color: #f45959;
  color: white;
}
main .section-one .section-one-left .section-one-buttons .how {
  background-color: white;
}
main .section-one .section-one-left .section-one-rating {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 6%;
  align-items: center;
}
main .section-one .section-one-right {
  box-sizing: border-box;
}
main .section-one .section-one-right .section-one-right-container {
  height: 100%;
  text-align: center;
}
main .section-one .section-one-right .section-one-right-container .free p {
  border-radius: 20px;
  color: white;
  background-color: #f45959;
  align-content: center;
  height: 50px;
  width: 150px;
  position: absolute;
  top: 14%;
  right: 10%;
  z-index: 9;
}
main .section-one .section-one-right .section-one-right-container img {
  border-radius: 10px;
  margin-top: 10%;
  transform: rotate(5deg);
  box-shadow: 1px 1px 10px grey;
}
main .section-one .section-one-right .section-one-right-container .completed-walks {
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 35px;
  box-shadow: 1px 1px 10px grey;
  background-color: white;
  position: absolute;
  bottom: 15%;
  right: 30%;
}
main .section-two .section-heading {
  text-align: center;
  margin-bottom: 10px;
}
main .section-two .section-heading h6 {
  color: #ca4949;
  font-size: 0.9em;
}
main .section-two .section-heading h3 {
  font-size: 2.5em;
}
main .section-two .section-heading p {
  font-size: 1.5em;
}
main .section-two .section-two-services {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .section-two .section-two-services .service {
  border: 0.5px light lightgrey;
  width: 300px;
  height: 200px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
}
main .section-two .section-two-services .service:hover {
  box-shadow: 1px 1px 50px lightgrey;
  transition: ease-in-out 600ms;
}
main .section-two .section-two-services .service h4 {
  font-size: 1.2em;
}
main .section-two .section-two-services .service p {
  font-size: 1.1em;
  line-height: 2em;
  font-size: 0.9em;
}
main .section-three .section-heading {
  text-align: center;
  margin-bottom: 10px;
}
main .section-three .section-heading h6 {
  color: #ca4949;
  font-size: 0.9em;
}
main .section-three .section-heading h3 {
  font-size: 2.5em;
}
main .section-three .section-heading p {
  font-size: 1.5em;
}
main .section-three .sign-up-steps {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 100px 0;
}
main .section-three .sign-up-steps .step {
  border: 0.5px solid lightgrey;
  border-radius: 20px;
  height: 200px;
  width: 200px;
  margin: 5px;
  text-align: center;
  align-content: center;
  padding: 20px;
}
main .section-three .sign-up-steps .step:hover {
  box-shadow: 1px 1px 50px lightgrey;
  transition: ease-in-out 600ms;
}
main .section-four #color {
  color: white;
  background-color: #293a6c;
}
main .section-four .section-heading {
  text-align: center;
  margin-bottom: 10px;
}
main .section-four .section-heading h6 {
  color: #ca4949;
  font-size: 0.9em;
}
main .section-four .section-heading h3 {
  font-size: 2.5em;
}
main .section-four .section-heading p {
  font-size: 1.5em;
}
main .section-four .prices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
main .section-four .prices .plan {
  box-shadow: 1px 1px 10px grey;
  border-radius: 20px;
  padding: 20px;
  display: grid;
}
main .section-four .prices .plan .plan-heading-container h4 {
  font-size: 1.5em;
}
main .section-four .prices .plan .price-font {
  font-size: 2em;
}
main .section-four .prices .plan .plan-list {
  list-style: none;
  line-height: 2em;
  margin-bottom: 100px;
}
main .section-four .prices .plan .button-container {
  height: 40px;
  align-content: center;
  text-align: center;
}
main .section-four .prices .plan .button-container button {
  width: 200px;
  height: 30px;
  border: 3px solid black;
  border-radius: 20px;
}
main .section-four .prices .plan .button-container #switch {
  border: none;
  background-color: #f45959;
  color: white;
}
main .section-five {
  background-color: #293a6c;
  color: white;
}
main .section-five .section-heading {
  text-align: center;
  margin-bottom: 10px;
}
main .section-five .section-heading h6 {
  color: #ca4949;
  font-size: 0.9em;
}
main .section-five .section-heading h3 {
  font-size: 2.5em;
}
main .section-five .section-heading p {
  font-size: 1.5em;
}
main .section-five .reviews {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
main .section-five .reviews .testimonial {
  border-radius: 20px;
  border: 0.5px solid grey;
  height: 350px;
  width: 300px;
  display: grid;
  padding: 10px;
  grid-template-rows: 20% 60 20%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}
main .section-five .reviews .testimonial .star-container {
  display: flex;
}
main .section-six {
  margin-bottom: 20px;
}
main .section-six .section-six-container {
  width: 95%;
  padding: 100px 0;
  margin: auto;
  text-align: center;
  color: white;
  background-color: #f45959;
  border-radius: 20px;
}
main .section-six h2 {
  font-size: 84px;
}
main .section-six blockquote .section-sub-heading {
  font-size: 30px;
}
main .section-six blockquote button {
  width: 260px;
  height: 40px;
  background-color: white;
  color: #f45959;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 10px black;
}
main .section-six blockquote button:hover {
  cursor: pointer;
}
main .section-six blockquote .cancel {
  font-size: 0.6em;
}

footer {
  padding: 5px;
  background-color: #293a6c;
  color: white;
}
footer .footer-container {
  display: grid;
  grid-template-rows: 90% 10%;
}
footer .footer-container .top {
  display: grid;
  grid-template-columns: 30% 70%;
}
footer .footer-container .top .top-container-left {
  display: grid;
  grid-template-rows: 60% 40%;
}
footer .footer-container .top .top-container-left .left-top, footer .footer-container .top .top-container-left .left-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .footer-container .top .top-container-left .left-top {
  width: 25%;
}
footer .footer-container .top .top-container-right {
  display: flex;
  justify-content: space-evenly;
}
footer .footer-container .top .top-container-right .list ul {
  list-style: none;
}
footer .footer-container .top .top-container-right h6 {
  font-size: 1em;
}
footer .footer-container .top .top-container-right li {
  font-size: 0.8em;
  line-height: 1.7em;
}
footer .footer-container .bottom {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */